node_modules
.pnp.*
.expo
dist
build
coverage
apps/*/artifacts/
packages/*/artifacts/
.DS_Store
*.log
apps/mobile/.env
apps/mobile/.env.local
apps/mobile/android/local.properties
apps/mobile/credentials/
.vscode/
.vscode/*
